* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
.container {
    width: 85%;
    margin:  0 auto;
}
#header {
    background-color: #23BDEE;
}
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 50px;
}
#navigation img {
    width: 100px;
    height: 50px;
}
#navigation > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
#navigation > ul > li {
    list-style: none;
}
#navigation > ul > li > a {
    text-decoration: none;
    color: #FFFFFF;
}
.nav-btn button {
    background-color: #FFFFFF;
    padding: 8px 30px;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 50px;

}

/* hero-section code hare  */
.hero-p {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-contant h1 {
    font-size: 55px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.hero-contant p {
    color: #FFFFFF;
     margin-bottom: 15px;
}
.hero-img img {
    width: 544px;
    vertical-align: middle;
}
.hero-btn button {
    padding: 10px 30px;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}
.hero-btn-p {
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-icon {
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 50%;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
}
.hero-btn-p p {
    padding-top: 10px;
    color: black;
}
#hero {
    position: relative;
    margin-bottom: 50px;
}
.asistant-p {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 250px;
    padding: 15px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
}
.asistant-p img {
    width: 50px;
}


/* Our Success ssection code hare  */
#success {
    margin-bottom: 60px;
}
.success-heading {
    text-align: center;
    margin-bottom: 60px;
}
.success-heading p {
    color: #010514;
    margin-top: 20px;
}
.success-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.success-card {
    background-color: #ffffff77;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 1px 3px rgb(239, 228, 228);
}

/* cloud section code start  */
#cloud {
    margin-bottom: 50px;
}
.cloud-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.cloud-card {
    width: 350px;
    height: 350px;
    text-align: center;
    padding: 30px;
    background-color: #f8f2f29c;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 2px grey;
}
.cloud-card *{
    margin-bottom: 15px;
}
.cloud-card img {
    width: 100px;
}

/* totc section code start  */
#totc {
    margin-bottom: 60px;
}
.totc-img-p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.totc-img-p img {
    width: 500px;
}

/* class room section code start  */
#class-room {
    margin-bottom: 60px;
}
#class-room h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #010514;
    margin: 30px 0;
}
.class-room-p {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}
.class-room-contant *{
    margin-bottom: 15px;
}
#vedio {
    border-radius: 20px;
    width: 600px;
}

/* feature section code start  */
#feature {
    margin-bottom: 60px;
}
.feature-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}
.feature-img-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #EAEAEA;
    width: 785px;
    border-radius: 10px;
    padding: 20px;
}
.feature-single-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.feature-img-single-card img {
    width: 250px;
}
.feature-single-card img {
    width: 160px;
}
.feature-contant h1 {
    margin-bottom: 20px;
    font-weight: 700;
}
.feature-contant-p {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.feature-btn button {
    background-color: #3465E1;
    color: #FFFFFF;
    padding: 6px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.feature-btn {
    text-align: center;
}

/* tools section code start  */
#tools {
    margin-bottom: 60px;
}
.tools-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.tools-contant h1 {
    color: #010514;
    font-size: 40px;
    margin-bottom: 20px;
}
.tools-img {
    width: 640px;
    background-image: url(./images/Group\ 75.png);
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.tools-img img {
    width: 390px;
    vertical-align: middle;
}






/* responsive desing code hare  */

@media screen and (max-width: 1200px){
    .container {
    width: 85%;
    margin:  0 auto;
}
.asistant-p {
    display: none;
}
.hero-p {
    flex-direction: column;
    text-align: center;
}
.cloud-p {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.totc-img-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.class-room-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    justify-content: space-between;
}
/* #vedio {
    border-radius: 20px;
    width: 750px;
    height: 500px;
} */

.feature-p{
    flex-direction: column;
    text-align: center;
}

}
@media screen and (max-width: 1024px){
    .container {
    width: 90%;
    margin:  0 auto;
}
#navigation > ul{
    display: none;
}
.success-p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.feature-img-card {
    flex-direction: column;
    width: 100%;
    
}
.tools-p {
    flex-direction: column;
    text-align: center;
}

}
@media screen and (max-width: 768px){
    .container {
    width: 93%;
    margin:  0 auto;
}

.class-room-vedio {
    width: 100%;
}

#vedio {
    width: 100%;
}
.tools-img {
    width: 100%;
}

}


@media screen and (max-width: 577px){
    .container {
    width: 96%;
    margin:  0 auto;
}
.hero-img img {
    width: 100%;
    vertical-align: middle;
}
.hero-contant h1 {
    font-size: 30px;
}
.hero-contant p {
     margin-bottom: 15px;
}
.hero-icon {
    padding-left: 2px;
}
.success-p {
    flex-direction: column;
    gap: 40px;
}
.success-card {
    width: 70%;
    text-align: center;
}
.cloud-card {
    width: 90%;
    height: 60%;
}
.totc-img-p img {
    width: 100%;
}
.totc-img-p {
    gap: 30px;
}
.class-room-vedio {
    width: 100%;
}

#vedio {
    width: 100%;
    height: 280px;
}
.feature-single-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}
.feature-contant-p {
    flex-direction: column;
}
.tools-img img {
    width: 50%;
}
.tools-contant h1 {
    color: #010514;
    font-size: 30px;
    margin-bottom: 20px;
}

}

@media screen and (max-width: 390px) {
    .hero-btn-p {
    flex-direction: column-reverse;
    gap: 15px;
}

#vedio {
    width: 100%;
    height: 220px;
}
}
